{% extends 'layout.html' %}
{% block body %}
<body>
    <h1>REGISTER</h1>
    <form action="" method="post">
        <dib id="username">
            <span>Username:</span>
            <input type="text" name="username">
        </dib>
        <dib id="email">
            <span>Emial:</span>
            <input type="email" name="email">
        </dib>
        <dib id="password">
            <span>Password:</span>
            <input type="password" name="password">
        </dib>
        <button type="submit">Registrarse</button>
    </form>
</body>
{% endblock %}